*.pyc
data/*

# Ignore streaming chunks
*.m4s

# Ignore media files
*.mp4
*.webm

# Ignore manifests
*.mpd

# Ignore csvs
*.csv

# Ignore gifs created in tests
*.gif
gaia.egg-info/*

# dirty macos file
*.DS_Store

*.265
*.yuv

*.so
*.o
gaia/energy/*

# Analysis files
*.png
*.pdf

**/course/*